
h1 {
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bolder;

}


h2 {
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: bold;

}

p {
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: lighter;

}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style-type: none;
}

ul.category {
    padding: 0;
    list-style-type: none;
}

p.category {

	color: gray;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	font-weight: lighter;

}

.post {
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	margin-right: 2px

}

.posts {
	margin-left: 200px;
	width: 500px;

}

.about {

	position: absolute;
	float: left;
	width: 	200px;
	height: 200px;

}

.categories {

	position: relative;
	margin-top: 400px;
	float: left;
	width: 200px;

}

.container {
position: absolute;
vertical-align: center;
}
